*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

body{
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#content{
    align-self: center;
    flex-direction: column;
    width: 400px;
    margin: 64px 0;
    background-color: #00003b;
    padding: 24px;
    border-radius: 16px;
}

#display{
    flex-basis: 150px;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 24px;
}

.bottom,
.top{
    font-family: 'Seven Segment', sans-serif;
    flex-basis: 50%;
    text-align: end;
    color: aquamarine;
    font-size: 48px;
    font-weight: 700;
    padding: 12px 24px;
}

.bottom{
    flex-basis: 50%;
}

#buttons{
    flex-basis: 500px;
}

#buttons .container{
    flex-direction: column;
    flex: 1;
}

.container button{
    flex-basis: 20%;
    border: 4px solid #00003b;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: 900;
}

.number{
    background-color: aquamarine;
    color: #00003b;
}

.operator{
    background-color: #6fefc4;
    color: #00003b;
}

.deleter{
    background-color: orange;
    color: aquamarine;
}

#equals{
    flex-basis: 40%;
    background-color: skyblue;
    color: #00003b;
}

#footer{
    justify-content: center;
    background-color: #00003b;
    color: aquamarine;
    font-weight: 900;
    padding: 32px;
}

@media (max-width: 800px) {
    #content{
        width: 320px;
    }
    
    #display{
        flex-basis: 80px;    
    }
    
    #buttons{
        flex-basis: 400px;
    }

    .bottom,
    .top,
    .container button{
        font-size: 30px;
    }

    .bottom,
    .top{
        padding: 10px 20px;
    }
}

@media (max-width: 600px) {
    #content{
        width: 240px;
    }
    
    #display{
        flex-basis: 60px;    
    }
    
    #buttons{
        flex-basis: 300px;
    }

    .bottom,
    .top,
    .container button{
        font-size: 24px;
    }

    .bottom,
    .top{
        padding: 8px 16px;
    }
}